In [1]:
# For the following exercises, you'll need to load several datasets using the pydataset library. (If you get an error when trying to run the import below, use pip to install the pydataset package.)
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pydataset import data
# When the instructions say to load a dataset, you can pass the name of the dataset as a string
# to the data function to load the dataset. You can also view the documentation for the data set by passing 
# the show_doc keyword argument.

mpg = data('mpg') # load the dataset and store it in a variable
# data('mpg', show_doc=True) # view the documentation for the dataset

In [ ]:
#1. Load the mpg dataset. Read the documentation for it, and use the data to answer these questions:

# - On average, which manufacturer has the best miles per gallon?

In [ ]:
# - How many different manufacturers are there?

In [ ]:
# - How many different models are there?

In [ ]:
# - Do automatic or manual cars have better miles per gallon?

In [ ]:
#2. Joining and Merging

#Copy the users and roles dataframes from the examples above. What do you think a right join would look like?

In [ ]:
# - An outer join?

In [ ]:
# - What happens if you drop the foreign keys from the dataframes and try to merge them?

In [ ]:
#3. Getting data from SQL databases

#a. Create a function named get_db_url. It should accept a username, hostname, password, and database name 
# and return a url formatted like in the examples in this lesson.

In [ ]:
#b. Use your function to obtain a connection to the employees database.

In [ ]:
#c. cOnce you have successfully run a query:

# - Intentionally make a typo in the database url. What kind of error message do you see?

In [ ]:
# - Intentionally make an error in your SQL query. What does the error message look like?

In [ ]:
#d. Read the employees and titles tables into two separate dataframes

In [ ]:
#e. Visualize the number of employees with each title.

In [ ]:
#f. Join the employees and titles dataframes together.

In [ ]:
#g. Visualize how frequently employees change titles.

In [ ]:
#h. For each title, find the hire date of the employee that was hired most recently with that title.

In [ ]:
#i. Write the code necessary to create a cross tabulation of the number of titles by department.
# (Hint: this will involve a combination of SQL and python/pandas code)

In [ ]:
#4. Use your get_db_url function to help you explore the data from the chipotle database.
# Use the data to answer the following questions:

# - What is the total price for each order?

In [ ]:
# - What are the most popular 3 items?

In [ ]:
# - Which item has produced the most revenue?

In [ ]:
'''
Extra Pandas Exercises and Resources

https://www.w3resource.com/python-exercises/pandas/index.php
https://towardsdatascience.com/20-pandas-functions-that-will-boost-your-data-analysis-process-f5dfdb2f9e05
https://github.com/guipsamora/pandas_exercises
https://github.com/ajcr/100-pandas-puzzles
More Practice!

For even more practice with pandas, you can do the exercises from the SQL module, 
but instead of using SQL to do the aggregation, sorting, joining, etc, use pandas. 
That is, read the data from all of the tables into pandas dataframes and manipulate the dataframes.
'''