In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
churn = pd.read_csv("churn.csv")
churn.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_internet_and_phone,partner_dependents,Start_day,Monthly_charges,Validation,Contract Type,Phone Type,Internet Type,Monthly Tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,...,True,True,3,2020-05-02,65.6,1,1 Year,One Line,DSL,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,True,True,0,2020-05-02,59.9,1,Month-to-Month,Two or More Lines,DSL,9.0
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,True,True,0,2020-11-02,73.9,1,Month-to-Month,One Line,Fiber Optic,4.0
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,...,True,True,1,2020-02-02,98,1,Month-to-Month,One Line,Fiber Optic,13.0
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,True,True,1,2020-11-02,83.9,1,Month-to-Month,One Line,Fiber Optic,3.0

In [26]:
test = churn.groupby(["contract_type",'is_senior_citizen','has_internet_and_phone'])[['churn']].count()
test

                                                        churn
contract_type is_senior_citizen has_internet_and_phone
0             0                 False                     810
                                True                     2259
              1                 False                      91
                                True                      716
1             0                 False                     481
                                True                      805
              1                 False                      29
                                True                      161
2             0                 False                     765
                                True                      787
              1                 False                      36
                                True                      109

In [35]:
test.describe()

             churn
count    12.000000
mean    587.416667
std     622.556089
min      29.000000
25%     104.500000
50%     598.500000
75%     791.500000
max    2259.000000

In [24]:
churn.groupby(["contract_type",'is_senior_citizen','has_internet_and_phone'])[['churn',"monthly_charges"]].sum()

                                                        monthly_charges
contract_type is_senior_citizen has_internet_and_phone
0             0                 False                          21279.45
                                True                          172388.60
              1                 False                           3290.30
                                True                           60366.30
1             0                 False                          13207.50
                                True                           66967.15
              1                 False                            921.60
                                True                           14934.85
2             0                 False                          21012.35
                                True                           70391.80
              1                 False                           1209.35
                                True                           10432.45